.mobile.nav.bar.base.container {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  opacity: 1;
  transition: all 0.5s ease;
}

.mobile.nav.bar.base.container-inactive {
  display: flex;
  background-color: black;
  justify-content: flex-start;
  width: 90vw;
  opacity: 0;
  transition: all 0.5s ease;
}

.mobile.nav.bar {
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
}

.mobile.nav.bar img {
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
