.home-page {
  background-color: white;
}

.menu-icon-active {
  z-index: 1;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity 10s ease-out;
  -webkit-transition: opacity 2s ease-out;
}

.menu-icon-inactive {
  display: none;
}

/* Menu Icon Styles */
.fa.fa-times {
  color: white;
}

.fas.fa-bars {
  color: white;
}

@media screen and (max-width: 960px) {
}

@media screen and (min-width: 961px) {
  .menu-icon-active,
  .menu-icon-inactive {
    display: none;
  }
}
