.when.and.where {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tail-blue-color);
  margin-bottom: 20vh;
}

.when.and.where h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #00000027;
}

.when.and.where img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 8px 7px #0000002f;
  transition: all 350ms ease-out;
}

.when.and.where img:hover {
  transition: all 350ms ease-out;
  box-shadow: 0px 2px 10px #0000002f;
  transform: scale(1.05);
}

.when.and.where h2 {
  font-family: "PT Serif", serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 0;
}

.when.and.where h3 {
  font-family: "PT Serif", serif;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 0;
}

.when.and.where p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 40px;
}

.when.and.where a {
  text-decoration: none;
  color: var(--tail-blue-color);
}

.article-info {
  width: 70vw;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1.5rem;
}

hr {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: 0.5px solid var(--tail-blue-color);
}

@media screen and (max-width: 960px) {
  .when.and.where h1 {
    font-size: 35px;
    text-shadow: 2px 2px 2px #00000027;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .when.and.where h2 {
    font-size: 25px;
  }

  .when.and.where h3 {
    font-size: 20px;
    margin-top: 0;
  }

  .when.and.where p {
    font-size: 15px;
    line-height: 25px;
  }

  .article-info {
    width: 90vw;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
}
