.coming.soon {
  background-color: var(--tail-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 100vh;
}

.coming.soon h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #00000027;
}

@media screen and (max-width: 960px) {
  .coming.soon h1 {
    font-size: 35px;
    text-shadow: 2px 2px 2px #00000027;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
