.footer-container {
  background-color: var(--tail-blue-color);
  display: flexbox;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.footer-container div {
  width: 70vw;
  text-align: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 5vh;
}

.footer-container h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #00000027;
  margin-bottom: 5vh;
}

.footer-container p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10vh;
}

@media screen and (max-width: 960px) {
  .footer-container h1 {
    font-size: 45px;
  }

  .footer-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .footer-container div {
    width: 90vw;
  }
}
