:root {
  --tail-blue-color: #005964;
}

.navbar {
  background-color: black;
  position: sticky;
  top: 0;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-list {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1.5rem;
  text-align: center;
  justify-content: center;
  list-style: ne;
}

.nav-menu-item {
  list-style: none;
}

.nav-links {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "PT Serif", serif;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  height: 100%;
  font-size: 1.2rem;
}

.nav-links:hover {
  background-color: white;
  color: var(--tail-blue-color);
}
